fastapi==0.115.0
python-multipart==0.0.12
uvicorn==0.30.6
qdrant-client==1.11.0
sentence-transformers==3.1.1
pydantic==2.9.2
pydantic-settings==2.5.2
PyYAML==6.0.2
openai==1.75.0
numpy==1.26.4
fastembed==0.4.2
